<div class="collector-card collector-card-announcement">
  <div class="announcement-header">
    <h2>{{ title }}</h2>
    <span class="collector-card-date">{{ formattedDate }}</span>
  </div>
  <div class="announcement-body">{{ body | markdownify | safe }}</div>
</div>
