<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href={{ collections.branding.favicon }} sizes="any">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description or 'BlastoDB Documentation' }}">
  <title>{{collections.branding.site_title}}/Docs - {{ title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/collector.css' | url }}">
  <script>
    window.collectorData = {{ collectorData | dump | safe }};
  </script>
  <script src="{{ '/assets/main.js' | url }}" defer></script>
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true, theme: 'neutral' });
  </script>
</head>
<body>
  {% include "layouts/docs-header.njk" %}

  <main>
    {{ content | processSpans | safe }}
  </main>

  {% include "layouts/docs-footer.njk" %}
</body>
</html>
