<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description or 'BlastoDB - The open hub for Blastocystis research' }}">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/assets/style.css' | url }}">
  <link rel="stylesheet" href="{{ '/assets/collector.css' | url }}">
  <script>
    // Inject data into global scope for main.js to access
    window.collectorData = {{ collectorData | dump | safe }};
  </script>
  <script src="{{ '/assets/main.js' | url }}" defer></script>
</head>
<body>
  {% include "layouts/header.njk" %}

  <main>
    <div class="hero hero-content-center">
      <h-hero>{{ name }}</h-hero>

      {% if sources and sources.length %}
        <div class="collector-item-tags tags-centered">
          {% for source in sources %}
            <span class="tag">{{ source }}</span>
          {% endfor %}
        </div>
      {% endif %}

      <div class="btn-group-center">
        <div style="align-items: center">
            {% if reference_genome_link %}
            <a href="{{ reference_genome_link }}" target="_blank" rel="noopener">Download Reference Genome &#8599;</a>
            {% endif %}
            {% if reference_genome_link and ssu_rrna_link %}
            &nbsp;
            {% endif %}
            {% if ssu_rrna_link %}
            <a href="{{ ssu_rrna_link }}" target="_blank" rel="noopener">Download 18s SSU rRNA Sequence &#8599;</a>
            {% endif %}
        </div>
      </div>

      <div>
        <a href="/subtypes/" class="btn">← Back to all Subtypes</a>
      </div>
    </div>

    {{ content | processSpans | safe }}
    {{ subtype_collector }}
  </main>

  {% include "layouts/footer.njk" %}
</body>
</html>
